<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Language of Photos">
    <meta name="author" content="utopian.io/@dogancankilment">

    <title>Language Of Photos</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}static/home/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ STATIC_URL }}static/home/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}static/home/css/agency.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Language of Photos</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">Team</a>
            </li>
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/new-image">New Image</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/login">Login</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Welcome To LOP</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="https://github.com/LanguageOfPhotos/lop-web">Project Github Page</a>
        </div>
      </div>
    </header>

    <!-- Gallery Grid -->
    <section class="bg-light" id="portfolio">
      {% if all_images %}
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Gallery</h2>
                <h3 class="section-subheading text-muted">Open Source Image Library</h3>
              </div>
            </div>
            <div class="row">
              {% for im in all_images %}
              <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#{{im.id}}">
                  <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                      <i class="fa fa-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="{{ im.image.url }}" alt="">
                </a>
                <div class="portfolio-caption">
                  <h4>{{ im.category }}</h4>
                  <p class="text-muted">{{im.title}}</p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
      {% endif %}
    </section>

    <!-- Team -->
    <section class="bg-light" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
            <h3 class="section-subheading text-muted">Feel free to join us. <br>Backend - Frontend - ServerSide</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="media/dogancankilment-profile-photo.jpg" alt="">
              <h4>Doğan Can Kilment</h4>
              <p class="text-muted">Python/Django Backend Developer</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://twitter.com/dcankilment">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/dogancan.kilment">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/dogancankilment">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted">LOP-Web Python/Django framework. Bootstrap Template and Apache2 Web Server using.</p>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; <a href="http://www.dogancankilment.com">DoganCanKilment</a> 2018</span>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </footer>

    <!-- Portfolio Modals -->

    {% if all_images %}
      {% for im in all_images %}
        <!-- Modal -->
        <div class="portfolio-modal modal fade" id="{{ im.id }}" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                  <div class="rl"></div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-8 mx-auto">
                    <div class="modal-body">
                      <!-- Project Details Go Here -->
                      <h2 class="text-uppercase">{{ im.title }}</h2>
                      <p class="item-intro text-muted">{{ im.category }}</p>
                      <img class="img-fluid d-block mx-auto" src="{{ im.image.url }}" alt="">
                      <p>{{ im.country }}</p>
                      <ul class="list-inline">
                        <li>Date: {{ im.created_at}}</li>
                        <li>User: {{ im.which_user }}</li>
                      </ul>
                      <button class="btn btn-primary" data-dismiss="modal" type="button">
                        <i class="fa fa-times"></i>
                        Close Image</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
    <!-- Bootstrap core JavaScript -->
    <script src="{{ STATIC_URL }}static/home/vendor/jquery/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}static/home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ STATIC_URL }}static/home/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="{{ STATIC_URL }}static/home/js/jqBootstrapValidation.js"></script>
    <script src="{{ STATIC_URL }}static/home/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ STATIC_URL }}static/home/js/agency.min.js"></script>

  </body>

</html>
